<% layout('layouts/boilerplate') %>
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-12  col-xl-12">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <h7 class="card-title text-muted fs-6">NOTE: I'm not a cyber security specialist &#128064</h6>
                    <form action="/register" method="POST" class="validated-form" novalidate>
                        <div class="mb-3 pt-4">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" autofocus required></textarea>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" id="email" name="email" required></textarea>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required></textarea>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        
                        <button class="btn btn-success col-12">Register</button>
                
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>